[user]
	name = gilzoide
	email = gilzoide@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[pull]
	ff = only
[alias]
	first = rev-list --max-parents=0 HEAD
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[advice]
	detachedHead = false
